
<html>
    <head>
        <title>Victoria's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>

<html>
    <head>
        <title>Blogul Victoriei</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blogul Victoriei</a></h1>
        </div>

        <div>
            <p>published: 21.04.2018, 17:20</p>
            <h2><a href="">Prima mea postare</a></h2>
            <p>Bun venit pe blogul Victoriei.</p>
        </div>

        <div>
            <p>published: 21.04.2018, 17:21</p>
            <h2><a href="">Bucătăria mexicană</a></h2>
            <p>Aici găsiți diverse rețete din bucătăria mexicană.</p>
        </div>

        <div>
            <p>published: 21.04.2018, 17:22</p>
            <h2><a href="">Bucătăria grecească</a></h2>
            <p>Aici pe pagină vor fi publicate mai multe rețete din bucătăria grecească: pită, salată grecească, ect.</p>
        </div>
    </body>
</html>
